.model-preloader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: rgba(0,0,0,0.05);
  
  span {
    margin-top: 1rem;
    color: var(--text-secondary);
    font-size: 0.9rem;
  }
} 